@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #4070f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: fixed;
  bottom: 50px;
  right: -400px; /* Changed for better responsiveness */
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper.show {
  right: 20px;
}

header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

header i {
  color: #4070f4;
  font-size: 32px;
}

header h2 {
  color: #4070f4;
  font-weight: 500;
}

.data {
  margin-top: 16px;
}

.data p {
  color: #333;
  font-size: 16px;
}

.data p a {
  color: #4070f4;
  text-decoration: none;
}

.data p a:hover {
  text-decoration: underline;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

#acceptBtn {
  background-color: #4070f4;
  color: #fff;
  border: none;
}

#acceptBtn:hover {
  background-color: #034bf1;
}

#declineBtn {
  background-color: #fff;
  color: #4070f4;
  border: 2px solid #4070f4;
}

#declineBtn:hover {
  background-color: #4070f4;
  color: #fff;
}
